<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Email</title>
</head>
<body>
<div class="right_text" style="margin-top:30px ">
        <div class="column" align="center">
            <div class="w3-col.m8">
                  <h2 id="logo">Simple Application</h2><br>
                  <h4 id ="menu_text">Verification mail </h4><br>
                  <p>the account username : {{ user }}.  </p>
                <br> <ul class="nav nav-pills nav-justified ">
                      <a class="button" href="http://{{ domain }}{%  url 'activate' token=token %}" >Click on the link to verify the account</a>
                    </ul>
                 </div>
                 <div class="col-10 offset-1">
                     <small style="font-size: x-small">You have received this email because the user has to verify through email.</small><br>
                 </div>
                <div class="col-2 offset-5" >
                    <br><br>
                    <p class="column middle_footer">
                  </p>
                </div>
        </div>
    </div>

</body>
</html>