<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple Authentication System</title>
</head>
<body>
    {% block content %}
        <h1>Welcome to Simple Application </h1>
    {% if user.is_authenticated %}
       <a href="{% url 'logout' %}">Logout</a>
     {% else %}
            <a href="{% url 'login' %}">Click Here to Login</a>
            <a href="{% url 'register_url' %}">Click Here to Register</a>
    {% endif %}
    <div class="alert">
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    </div>

    {% endblock %}
</body>
</html>